* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    rgb(60, 8, 128),
    rgba(165, 55, 165, 0.867)
  );
}
.search {
  height: 50px;
  position: relative;
}
.search input {
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: 0.2s ease;
}
.search button {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 50px;
  font-size: 18px;
  background-color: white;
  border: 0;
  transition: 0.2s ease;
}
.search button:focus {
  outline: none;
}

.search.active input{
    width: 300px;
}
.search.active button{
    left: 290px;
}